.btn-default-btn{
	color: #333;
    background-color: #fff;
    border-color: #ccc;
    margin-left: 10px;
}

.input-group{
	position: relative;
    display: table;
    border-collapse: separate;
    margin-top: 10px;
}

.sidebar{
    width: 150px;
}

#page-wrapper {
    margin: 0 0 0 150px;
}

.edit_movie, .new_movie{
    margin: 20px 0 20px 0;
}
.sidebar .sidebar-nav.navbar-collapse {
    margin-top: 2px;
}

.box_admin_search {
    float: right;
    margin: 14px 14px 0 0;
}
.pagination {
    float: right;
}
.sort_by {
  float: right;
  margin: 14px 14px 20px 0;
}

.admin_button_submit {
  float: right;
  margin: 0px 14px 20px 0;
}