@import 'variable_color.scss';

/* REMOVE THIS, USE YOUR OWN  */
html,body {
  background-color: #092b35;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, Sans-serif;
}

.dummy_page {
  height: 200px;
  width: 100%;
  background-color: $white-light;
  text-align: center;
  box-sizing: border-box;
  padding: 60px;
}

/* STYLES SPECIFIC TO FOOTER  */
.footer {
  width: 100%;
  position: relative;
  height: 100%;
  bottom: 0;
  background-color: #092b35;
  border-top: 3px solid $yellow-light;
  .col {
    width: 280px;
    height: auto;
    float: left;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 0 20px 20px;
    h1 {
      margin: 0;
      padding: 0;
      font-family: inherit;
      font-size: 12px;
      line-height: 17px;
      padding: 20px 0 5px;
      color: #fff;
      font-weight: normal;
      text-transform: uppercase;
      letter-spacing: 0.250em;
    }
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      li {
        color: $gray;
        font-size: 14px;
        font-family: inherit;
        font-weight: bold;
        padding: 5px 0px 5px;
        cursor: pointer;
        transition: .2s;
        -webkit-transition: .2s;
        -moz-transition: .2s;
      }
      li:hover {
        color: $black;
        transition: .1s;
        -webkit-transition: .1s;
        -moz-transition: .1s;
      }
    }
  } 
}

.social ul li {
  display: inline-block;
  padding-right: 5px !important;
}

.clearfix {
  clear: both;
}

@media only screen and (min-width: 1280px) {
  .contain {
    width: 1200px;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 1139px) {
  .contain .social {
    width: 1000px;
    display: block;
  }
  .social h1 {
    margin: 0px;
  }
}

@media only screen and (max-width: 950px) {
  .footer .col {
    width: 33%;
  }
  .footer .col h1 {
    font-size: 14px;
  }
  .footer .col ul li {
    font-size: 13px;
  }
}

@media only screen and (max-width: 500px) {
  .footer .col {
    width: 50%;
  }
  .footer .col h1 {
    font-size: 14px;
  }
  .footer .col ul li {
    font-size: 13px;
  }
}

@media only screen and (max-width: 340px) {
  .footer .col {
    width: 100%;
  }
}

.img_logo{
  width: 100px;
}

* {box-sizing: border-box;}
  
.list-movie {
  margin: auto;
  position: relative;
  width: 90%;
  overflow:hidden;
}

.list-movie:hover img{
  transform: scale(1.2);
  transition: transform .3s,-webkit-transform .3s;
}

.image {
  width:100%;
  height:100%;
}

.overlay {
  position: absolute;
  bottom: 0;
  width: 100%;
  opacity:1;
  color: white;
  font-size: 15px;
  padding-left: 10px;
}

.overlay a{
  font-weight: bold;
  color: white;
  text-shadow: 0 0 0.2em #0014ff, 0 0 0.2em #0014ff;
}

.overlay p{
  margin: 0;
  text-shadow: black 0.3em 0.3em 0.3em;
}

.list-movie:hover .overlay {
  opacity: 1;
}

.devise-link a {
  text-decoration: none !important;
}

.iframe-wrapper {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px;
}

.iframe-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.carousel-item img {
  height: 70vh;
}

.list_movie {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.pagination {
  justify-content: center !important;
}

.bookmark-link {
  text-decoration: none !important;
}

.bookmark-item-link {
  display: inline-block;
  width: 100%;
}

.alert-alert {
  background-color: $white-pink;
  border-color: $light-pink;
  color: $brown-red;
  text-align: left;
  ul {
    list-style-type: none;
  }
}

.alert-notice{
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: $weight-green;
  text-align: left;
  ul {
    list-style-type: none;
  }
}

.social-share-button .ssb-icon {
  background-position: center center !important;
  background-repeat: no-repeat !important;
  background-size: 30px 32px !important;
  display: inline-block !important;
  height: 35px !important;
  width: 40px !important;
}
.social-share-button {
  right: 1px;
  top: 0px;
}

.nav-item a:hover{
  color: #0285b5;;
}

.dropdown:hover>.dropdown-menu {
  display: block;
}

.dropdown>.dropdown-toggle:active {
  /*Without this, clicking will make it sticky*/
    pointer-events: none;
}

.sticky-top{
  color: black;
  position: sticky;
  top: 0;
  z-index: 1020;
}

.text-list a{
  text-decoration-line: none;
  font-size: 40px;
  text-shadow: black 0.1em 0.1em 0.2em;
  font-style: oblique;
}

.active > .nav-link, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .nav-link.active {
  color: #0285b5 !important;
}

.navbar-light .navbar-nav .nav-link {
  color: #0285b5;
}

.category-text{
  font-size: 40px;
  text-shadow: rgb(1, 7, 83) 0.1em 0.1em 0.2em;
  font-style: oblique;
  color: #007bff;
}

a {
    text-decoration: none;
    background-color: transparent;
}

.form-control{
    width: 100%;
    height: 30px;
    display: block;
    padding-left: 10px;
    padding-right: 30px;
    font-size: 13px;
    -webkit-appearance: none;
    border: 1px solid #ddd;
    border-radius: 15px;
}

.icon-search{
  position: absolute;
    top: 5px;
    right: 5px;
    width: 20px;
    height: 20px;
    line-height: 20px;
    font-size: 20px;
    text-align: center;
    color: #999;
    cursor: pointer;
}

.bg-light {
  background-color: #092b35 !important;
}
.dropdown-menu{
  background: rgba(0,0,0,.8);
}

.dropdown-item{
  color: #0285b5;
}

.dropdown-item:hover, .dropdown-item:focus {
  color: #16181b;
  text-decoration: none;
  background: rgba(0,0,0,.8);
}

.navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus {
  color: #95d3e9;
}
.nav-item{
  cursor: pointer;
}

.page-link {
  position: relative;
  display: block;
  padding: 0.5rem 0.75rem;
  margin-left: -1px;
  line-height: 1.25;
  color: #007bff;
  background-color: #092b35;
  border: 1px solid #007bff;
}

h2{
  color: #007bff;
}

.container h3 {
  color: #007bff;
}
.font-weight-bold {
  color: #007bff;
  font-weight: 500 !important;
}

.form-group label{
  color: #007bff;
  em{
    color: #007bff;
  }
}

.actions .btn-success {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

.actions .btn-success:not(:disabled):not(.disabled):active, .btn-success:not(:disabled):not(.disabled).active, .show > .btn-success.dropdown-toggle {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

input {
  background-color: #092b35;
}

.confirm input {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
  cursor: pointer;
  width: 100%;
  display: block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  -webkit-appearance: button;
  overflow: visible;
  margin: 0;
  font-family: inherit;
}

.breadcrumb {
  background-color: #092b35;
}

.btn-outline-dark:not(:disabled):not(.disabled):active, .btn-outline-dark:not(:disabled):not(.disabled).active, .show > .btn-outline-dark.dropdown-toggle {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

.container-fluid h5 {
  color: #007bff;
}

.btn-outline-dark:hover {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

.btn-outline-dark {
  color: #007bff;
  background-color: #092b35;
  background-image: none;
  border-color: #007bff;
}

.p-1 {
  color: darkgray;
  span{
    color: darkgray;
  }
}

.lfloat span{
  color: darkgray !important;
}

.card-body{
  background-color: #6c757d;
  color: white;
}

.navbar .form-inline input {
  color:  #fff;
  background-color: #092b35;
  border-color: #fff;
}

.icon-footer {
  width: 2.5em
}

.panel-body nav{
  text-align: center;
}
.film-rating {
  font-size: 20px;
  color: lightgrey;
  cursor: pointer;
  .checked {
    color: orange;
  }
}

.modal-content {
  width: 34vh !important;
  .modal-body {
    padding: 10px 2px 2px 2px !important;
    text-align: center;
  }
  .modal-footer {
    text-align: center;
    display: initial;
    justify-content: flex-end;
    padding: 5px;
    border-top: 1px solid #e9ecef;
  }
}

